
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ml-2">
    <h1>Your Order has been placed.</h1>
    <h4>Thank you for your purchase.</h4>
    <br />
    <h3>@Html.ActionLink("Return to Home", "Index", "Home")</h3>
</div>

