@model IEnumerable<JLL.DVDCentral.BL.Models.Genre>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Description, "Load", "Movie", new { id = item.Id }, null)
            </td>
        </tr>
    }
    <tr>
        <td>@Html.ActionLink("View All", "Index", "Movie")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("New Genre", "Create", "Genre")</td>
    </tr>

</table>

